@{
    ViewData["Title"] = "Home Page";
    string[] TableHeaders = new string[]
    {
        "Id",
        "Game Title",
        "Release Year",
        "Platform",
        "Publisher",
        "Complete Copy",
        "Physical Copy"
    };
}

<div class="table">
    <table>
        <thead>
            <tr>
                @{
                    foreach (var col in TableHeaders)
                    {
                        <th>
                            @col
                        </th>
                    }
                }
            </tr>
        </thead>
        <tbody>
            @{ 
                if (Model != null)
                {
                    foreach (var Data in Model)
                    {
                        <tr>
                            <td>@Data.Id</td>
                            <td>@Data.GameTitle</td>
                            <td>@Data.ReleaseYear</td>
                            <td>@Data.Platform</td>
                            <td>@Data.Publisher</td>
                            <td>@Data.CompleteCopy</td>
                            <td>@Data.PhysicalCopy</td>
                        </tr>
                    }
                }
            }
        </tbody>
    </table>
</div>
